In [89]:
import pandas as pd

In [90]:
tmp = "/home/pedro/Desktop/VI/VI_Project/DATASETS/new_linechart.csv"
data = pd.read_csv(tmp)

data.head()

   percentage_race_win_nom race_ethnicity  winner  year political_party
0                    100.0          White       0  1928      Republican
1                    100.0          White       1  1928      Republican
2                    100.0          White       2  1928      Republican
3                    100.0          White       0  1929      Republican
4                    100.0          White       1  1929      Republican

In [91]:
data = data.drop(data[data.winner == 2].index)
data.head()

   percentage_race_win_nom race_ethnicity  winner  year political_party
0                    100.0          White       0  1928      Republican
1                    100.0          White       1  1928      Republican
3                    100.0          White       0  1929      Republican
4                    100.0          White       1  1929      Republican
6                    100.0          White       0  1930      Republican

In [92]:
years = {}

for index,row in data.iterrows():
    if(row["year"] not in list(years.keys())):
        years[row["year"]] = {}
        years[row["year"]][row["race_ethnicity"]] = {}
        years[row["year"]][row["race_ethnicity"]][row["winner"]] = row["percentage_race_win_nom"]
        years[row["year"]][row["race_ethnicity"]]["political_party"] = row["political_party"]
    else:
        #se ja existir ano e raca.
        if(row["race_ethnicity"] in list(years[row["year"]].keys())):
            years[row["year"]][row["race_ethnicity"]][row["winner"]] = row["percentage_race_win_nom"]
        else:
            years[row["year"]][row["race_ethnicity"]] = {}
            years[row["year"]][row["race_ethnicity"]][row["winner"]] = row["percentage_race_win_nom"]
            years[row["year"]][row["race_ethnicity"]]["political_party"] = row["political_party"]

In [112]:
rows = []
for year in list(years.keys()):
    for race in list(years[year].keys()):
        new_dic={}
        new_dic["year"] = year
        new_dic["race_ethnicity"] = race
        new_dic["political_party"] = years[year][race]["political_party"]
        new_dic["winner"] = 2
        if( 1 in list(years[year][race].keys()) and 0 in list(years[year][race].keys())):
            new_dic["percentage_race_win_nom"] = (years[year][race][1] * 1/5 +  years[year][race][0] * 1/20)  * 100/25
        elif 1 in list(years[year][race].keys()):
            new_dic["percentage_race_win_nom"] = years[year][race][1] *1/5 * 100/25
        elif 0 in list(years[year][race].keys()):
            new_dic["percentage_race_win_nom"] = years[year][race][0] * 1/20 * 100/25
        rows.append(new_dic)
#        print(new_dic)
        
new_rows_df = pd.DataFrame(rows)
new_rows_df.head()

   percentage_race_win_nom political_party race_ethnicity  winner  year
0                    100.0      Republican          White       2  1928
1                    100.0      Republican          White       2  1929
2                    100.0      Republican          White       2  1930
3                    100.0      Republican          White       2  1931
4                    100.0      Republican          White       2  1932

In [113]:
frames = [data, new_rows_df]
result = pd.concat(frames)

result = result.sort_values('year')

print(data.shape)
print(new_rows_df.shape)
print(result.shape)

(268, 5)
(169, 5)
(437, 5)

In [114]:
tmp = result.to_csv("/home/pedro/Desktop/VI/VI_Project/DATASETS/new_linechart2.csv")

In [16]:
df = dataframe.groupby(["year","race_ethnicity"]).sum()

In [21]:
df.head(10)

                     winner  percentage_race_win_nom
year race_ethnicity
1928 White                1                   200.00
1929 White                1                   200.00
1930 White                1                   200.00
1931 White                1                   200.00
1932 White                1                   200.00
1933 White                1                   200.00
1934 White                1                   200.00
1935 Asian                0                     8.33
     White                1                   191.67
1936 White                1                   200.00

In [32]:
new_dict_rows = []

for index,row in df.iterrows():
    new_dict = {}  
    new_dict["year"] = index[0]
    new_dict["winner"] = 2
    new_dict["race_ethnicity"] = index[1]
    new_dict["percentage_race_win_nom"] = (row["percentage_race_win_nom"] / 200) * 100
    new_dict_rows.append(new_dict)

In [35]:
new_df  = pd.DataFrame(new_dict_rows)

frames = [dataframe, new_df]

result = pd.concat(frames)

In [43]:


tmp = result.to_csv("/home/pedro/Desktop/VI/VI_Project/DATASETS/new_linechart.csv")

In [320]:
new_df = pd.DataFrame(new_dict)

In [322]:
new_df.to_csv(r'newEthnics.csv')

In [329]:
tmp = pd.read_csv("/home/pedro/Desktop/VI/VI_Project/lab4/csv/newEthnics.csv")
tmp = pd.DataFrame(tmp)

In [330]:
tmp.columns.values

array(['Unnamed: 0', 'count', 'milestone', 'race_ethnicity', 'year',
       'milestone.1', 'sentiment'], dtype=object)

In [331]:
new_dict = {  "year" : [], "count" : [], "milestone" : [], "race_ethnicity" : [] , "sentiment" : []}


for index,row in tmp.iterrows():
    if str(row["milestone.1"]) == str("nan"):
        new_dict["milestone"].append(-1)
        new_dict["sentiment"].append(-1)
    else:
        new_dict["milestone"].append(row["milestone.1"])
        new_dict["sentiment"].append(row["sentiment"])
        
    new_dict["count"].append(row["count"])
    new_dict["race_ethnicity"].append(row["race_ethnicity"])
    new_dict["year"].append(row["year"])

In [332]:
new_new_df = pd.DataFrame(new_dict)

In [7]:
#new_new_df.head(20)

In [334]:
new_new_df.to_csv(r'updatedEthnics.csv')

In [28]:
import pandas as pd
tmp = pd.read_csv("/home/pedro/Desktop/VI/VI_Project/lab4/csv/updatedEthnics.csv")
df = pd.DataFrame(tmp)

new_df = df.groupby(['year','race_ethnicity']).sum()

count = {}
#for index,row in new_df.iterrows():
  #  if row["year"] not in years:
  #      count[row["year"]] = row["count"]
  #  else:
  #      count[row["year"]] += row["count"]

In [82]:
new_df.head()

                     count ratio
year race_ethnicity
1928 white              10
1929 white              16
1930 white              18
1931 white              15
1932 white               9

In [103]:
count = {}
for index,row in df.iterrows():
    if row["year"] not in list(count.keys()):
        count[row["year"]] = row["count"]
    else:
        count[row["year"]] += row["count"]


strs = ["" for x in range(168)]

In [104]:
#df["ratio"] = strs

In [108]:
#count

In [109]:
for col in df:
    for i, row_value in df[col].iteritems():
        #df["year"][i] = str(1928)
        #break
        df["ratio"][i] = df["count"][i] / count[df["year"][i]]
    break

/home/pedro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [113]:
tmp = df.to_csv("/home/pedro/Desktop/VI/VI_Project/lab4/csv/q5updated.csv")